* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/*navigation bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #fff;
    height: 100px;
    width: 80%;
    margin: 0 auto;
}

header img {
    cursor: pointer;
    width: 100px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    color: #000;
    padding: 0 15px 0 15px;
    font-size: 18px;
}

#contactNav li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
    font-size: 18px;
}

nav li:hover {
    color: #777;
}

/*titleTextSection*/
#titleTextContent {
    width: 100%;
    height: 60vh;
    min-width: 400px;
    background: url('img/bg-mainText.jpg');
    background-position: center;
    background-size: cover;
}

#titleTextContent h1 {
    margin: 120px 0 0 150px;
    font-size: 55px;
    color: #fff;
}

#titleTextContent p {
    margin: 20px 0 0 150px;
    font-size: 25px;
    color: #fff;
}

#titleTextContent button {
    margin: 30px 0 0 150px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    color: #fff;
    background: rgb(14, 238, 238);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

#titleTextContent button:hover {
    background: rgb(15, 224, 224);
}

/*offer section*/
#offerContent {
    width: 100%;
    height: 100%;
}

.offerSquares {
    width: 1260px;
    margin: 50px auto;
}

.offerSquare {
    width: 360px;
    height: 250px;
    background: #fff;
    box-shadow: 0px 3px 10px #888888;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin: 30px;
    transition: .2s;
}

.offerSquare:hover {
    box-shadow: 0px 8px 13px #888888;
}

.offerSquare img {
    height: 180px;
    width: 100%;
}

.offerText {
    height: 50px;
    width: 100%;
    margin: 14px 0 0 35px;
    color: #000;
    font-size: 15px;
}

/*offer section => slider section*/
.offerSquareSlider {
    width: 360px;
    height: 250px;
    background: #fff;
    box-shadow: 0px 3px 10px #888888;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin: 30px;
    transition: .2s;
}

.offerSquareSlider:hover {
    box-shadow: 0px 8px 13px #888888;
}

.offerSquareSlider img {
    height: 180px;
    width: 100%;
}

/*arrows*/
#leftArrow {
    border: none;
    color: #000;
    background: transparent;
    box-shadow: none;
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    left: -6px;
    transition: .2s;
}

#rightArrow {
    border: none;
    color: #000;
    background: transparent;
    box-shadow: none;
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    right: -13px;
    transition: .2s;
}

#leftArrow:hover, #rightArrow:hover {
    color: #777;
}

/*contact section*/
#contactContent {
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;
    height: 100%;
    background: rgb(69, 183, 218);
    display: flex;
    align-items: center;
}

#contactForm {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#contactForm h1 {
    margin-right: 50px;
    font-size: 55px;
    color: #fff;
}

/*input*/#email {
    font-size: 20px;
    letter-spacing: 3px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    caret-color: #fff;
    padding: 10px;
}

#email::placeholder {
    color: #fff;
}

#email:focus {
    outline: none;
}

/*button*/#submit {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 30px;
    padding-left: 10px;
    transition: .2s;
    cursor: pointer;
}

#submit:focus {
    outline: none;
}

#submit:hover {
    color: #ededed;
}

/*footer*/
#footer {
    width: 100%;
    height: 100%;
    background: rgb(246, 246, 246);
    padding: 50px 0 20px 0;
}

#footerImg {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .1s;
}

#footerImg img {
    height: 55px;
}

#footerImg:hover {
    border: 2px solid #999;
}

#footerImg a {
    margin: 0 auto;
}

#socialmediaMenu {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

#socialmediaMenu li {
    display: inline-block;
    margin: 20px 20px 10px 20px;
    font-weight: 300;
}

#socialmediaMenu ul {
    margin-bottom: 15px;
}

#socialmediaMenu a {
    text-decoration: none;
    color: #333;
}

#socialmediaMenu a:hover {
    color: #777;
}

#copyright {
    font-size: 14px;
    color: #555;
    letter-spacing: 6px;
    font-weight: 600;
}

#socialmediaMenu p {
    margin-bottom: 30px;
}

