* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/*navigation bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #fff;
    height: 100px;
    width: 80%;
    margin: 0 auto;
}

header img {
    cursor: pointer;
    width: 100px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    color: #000;
    padding: 0 15px 0 15px;
    font-size: 18px;
}

#contactNav li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
    font-size: 18px;
}

nav li:hover {
    color: #777;
}

/*titleTextSection*/
#titleTextContent {
    width: 100%;
    height: 60vh;
    min-width: 400px;
    background: url('img/bg-mainText.jpg');
    background-position: center;
    background-size: cover;
}

#titleTextContent h1 {
    margin: 120px 0 0 150px;
    font-size: 55px;
    color: #fff;
}

#titleTextContent p {
    margin: 20px 0 0 150px;
    font-size: 25px;
    color: #fff;
}

#titleTextContent button {
    margin: 30px 0 0 150px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    color: #fff;
    background: rgb(14, 238, 238);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

#titleTextContent button:hover {
    background: rgb(15, 224, 224);
}

/*offer section*/
#offerContent {
    width: 100%;
    height: 100%;
}

.offerSquares {
    width: 1260px;
    margin: 70px auto;
}

.offerSquares h1 {
    margin-bottom: 20px;
}

.offerSquare {
    width: 360px;
    height: 250px;
    background: #fff;
    box-shadow: 0px 3px 10px #888888;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin: 30px;
    transition: .2s;
}

.offerSquare:hover {
    box-shadow: 0px 8px 13px #888888;
}

.offerSquare img {
    height: 180px;
    width: 100%;
}

.offerText {
    height: 50px;
    width: 100%;
    margin: 14px 0 0 35px;
    color: #000;
    font-size: 15px;
}

/*offer section => slider section*/
.offerSquareSlider {
    width: 360px;
    height: 250px;
    background: #fff;
    box-shadow: 0px 3px 10px #888888;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin: 30px;
    transition: .2s;
}

.offerSquareSlider:hover {
    box-shadow: 0px 8px 13px #888888;
}

.offerSquareSlider img {
    height: 180px;
    width: 100%;
}

/*arrows*/
#leftArrow {
    border: none;
    color: #000;
    background: transparent;
    box-shadow: none;
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    left: -7px;
}

#rightArrow {
    border: none;
    color: #000;
    background: transparent;
    box-shadow: none;
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    right: -13px;
}

/*
picnic boat 40s - 5
amel 60 - 4
hallberg-rassy - 3
first 42 - 2
comet 44 - 1